:root {
    --colorPrimary: #161A22;
    --colorButton: #48BEC6;
    --white: #FFFFFF;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: radial-gradient(circle at 16% 83%, rgba(148, 148, 148, 0.06) 0%, rgba(148, 148, 148, 0.06) 50%, rgba(63, 63, 63, 0.06) 50%, rgba(63, 63, 63, 0.06) 100%), radial-gradient(circle at 68% 87%, rgba(66, 66, 66, 0.06) 0%, rgba(66, 66, 66, 0.06) 50%, rgba(0, 114, 190, 0.06) 50%, rgba(0, 114, 190, 0.06) 100%), radial-gradient(circle at 38% 50%, rgba(69, 69, 69, 0.06) 0%, rgba(69, 69, 69, 0.06) 50%, rgba(0, 213, 255, 0.06) 50%, rgba(0, 213, 255, 0.06) 100%), linear-gradient(90deg, hsl(18, 0%, 1%), hsl(18, 0%, 1%));
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

/** Utilities */
.container {
    width: 90%;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    margin-bottom: 2em;
}

/** Buttons */
/*? Navbar */
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18rem;
    height: 3.2rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121), linear-gradient(137.48deg, #ffdb3b 10%, #FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#container-stars {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
}

strong {
    z-index: 2;
    font-size: 20px;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-shadow: 0 0 4px white;
}

#glow {
    position: absolute;
    display: flex;
    width: 12rem;
}

.circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
}

.circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
}

.btn:hover #container-stars {
    z-index: 1;
    background-color: #212121;
}

.btn:hover {
    transform: scale(1.1)
}

.btn:active {
    border: double 4px #FE53BB;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
}

.btn:active .circle {
    background: #FE53BB;
}

#stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
}

#stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
}

#stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
}

#stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
}

#stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
}

@keyframes animStar {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-135rem);
    }
}

@keyframes animStarRotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0);
    }
}

@keyframes gradient_301 {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes pulse_3011 {
    0% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

/*? Card */
.card__button {
    all: unset;
    display: block;
    background-color: var(--white);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    padding: 10px 0;
    width: 50%;
    margin: 0 auto;
    font-weight: 700;
    border-radius: 10px;
    text-align: center;
    transition: all .5s ease;
}

.card__button:hover {
    letter-spacing: 3px;
    background-color: var(--colorButton);
    color: hsl(0, 0%, 100%);
    box-shadow: var(--colorButton) 0px 7px 29px 0px;
}

.card__button:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: var(--colorButton) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

/*? Footer */
.footer__button {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #2ba8fb;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    font-size: 1.3rem;
}

.footer__button:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    letter-spacing: 3px;
}

.footer__button:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    box-shadow: none;
}

.footer__button a {
    color: var(--black);
}

/*? Ventana */
.button-ventana {
    position: absolute;
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    background: #e62222;
    top: -20px;
    left: 880px;
}

.button-ventana,
button span {
    transition: 200ms;
}

.button-ventana .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
}

.button-ventana .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-ventana svg {
    width: 15px;
    fill: #eee;
}

.button-ventana:hover {
    background: #ff3636;
}

.button-ventana:hover .text {
    color: transparent;
}

.button-ventana:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
}

.button-ventana:focus {
    outline: none;
}

.button-ventana:active .icon svg {
    transform: scale(0.8);
}

/*? Redes Icons */
.wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
}

.wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background: #2c9402;
    color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #b8307f;
    color: #fff;
}

/** Header */

.header {
    background-image: linear-gradient(346deg, rgba(55, 55, 55, 0.04) 0%, rgba(55, 55, 55, 0.04) 22%, rgba(140, 140, 140, 0.04) 22%, rgba(140, 140, 140, 0.04) 69%, rgba(225, 225, 225, 0.04) 69%, rgba(225, 225, 225, 0.04) 100%), linear-gradient(31deg, rgba(55, 55, 55, 0.04) 0%, rgba(55, 55, 55, 0.04) 42%, rgba(140, 140, 140, 0.04) 42%, rgba(140, 140, 140, 0.04) 85%, rgba(225, 225, 225, 0.04) 85%, rgba(225, 225, 225, 0.04) 100%), linear-gradient(55deg, rgba(55, 55, 55, 0.04) 0%, rgba(55, 55, 55, 0.04) 13%, rgba(140, 140, 140, 0.04) 13%, rgba(140, 140, 140, 0.04) 72%, rgba(225, 225, 225, 0.04) 72%, rgba(225, 225, 225, 0.04) 100%), linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0));
    height: 35vh;
    margin-bottom: 3em;
    color: var(--white);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, .5);
}

.section-header__logo {
    width: 300px;
    filter: drop-shadow(1px 1px 1px var(--white));
}

.section-header__title {
    font-size: 4rem;
    font-weight: 600;
}

/*? Navegation */
.navegation {
    display: flex;
    justify-content: center;
    list-style: none;
}

/** Main */

.main__title {
    text-align: center;
    color: var(--white);
    font-size: 3rem;
    margin-bottom: 1em;
}

/*? Card */
.card {
    background-image: url(../img/construccion.webp);
    background-size: cover;
    background-position: center;
    width: 30%;
    height: 450px;
    padding: 30px;
    margin-bottom: 2em;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 5px rgba(255, 255, 255, 0.1);
}

/*? Section Primary */
.section-primary {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.section-primary__title {
    text-align: center;
    margin-bottom: 1em;
    color: var(--black);
    font-size: 1.86em;
    font-weight: 400;
}

.section-primary__text {
    color: var(--black);
    font-weight: 600;
    text-align: justify;
    margin-bottom: 3em;
}

.cta {
    color: var(--black);
}

/** Footer */

.footer {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, .5);
}

.footer__logo {
    width: 30px;
    height: 30px;
}

.footer__button {
    order: 2;
    width: 20vw;
    margin: unset;
}

/** Páginas Extra */

/*? Carousel */

.carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
}

/*? Button Inicio */
.cta-inicio {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.cta-inicio:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #234567;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.cta-inicio span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #b1dae7;
}

.cta-inicio span:hover {
    color: #000000;
    transition: all 0.5s ease;
}

.cta-inicio svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta-inicio:hover:before {
    width: 100%;
    background: #b1dae7;
}

.cta-inicio:hover svg {
    transform: translateX(0);
}

.cta-inicio:active {
    transform: scale(0.95);
}

/** Ventana Emergente */
.modal-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(circle at 99% 33%, hsla(235, 0%, 48%, 0.03) 0%, hsla(235, 0%, 48%, 0.03) 37%, transparent 37%, transparent 100%), radial-gradient(circle at 46% 16%, hsla(235, 0%, 48%, 0.03) 0%, hsla(235, 0%, 48%, 0.03) 43%, transparent 43%, transparent 100%), radial-gradient(circle at 99% 25%, hsla(235, 0%, 48%, 0.03) 0%, hsla(235, 0%, 48%, 0.03) 22%, transparent 22%, transparent 100%), radial-gradient(circle at 57% 88%, hsla(235, 0%, 48%, 0.03) 0%, hsla(235, 0%, 48%, 0.03) 86%, transparent 86%, transparent 100%), radial-gradient(circle at 82% 78%, hsla(235, 0%, 48%, 0.03) 0%, hsla(235, 0%, 48%, 0.03) 22%, transparent 22%, transparent 100%), linear-gradient(90deg, rgba(0, 0, 0, 0.855), rgba(0, 0, 0, 0.855));
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
}

.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    max-width: 100%;
    height: 800px;
    padding: 30px 50px;
    background-image: linear-gradient(135deg, transparent 0%, transparent 50%, rgba(168, 0, 0, 0.07) 50%, rgba(168, 0, 0, 0.07) 77%, transparent 77%, transparent 100%), linear-gradient(90deg, transparent 0%, transparent 91%, rgba(168, 0, 0, 0.07) 91%, rgba(168, 0, 0, 0.07) 99%, transparent 99%, transparent 100%), linear-gradient(135deg, transparent 0%, transparent 24%, rgba(168, 0, 0, 0.07) 24%, rgba(168, 0, 0, 0.07) 63%, transparent 63%, transparent 100%), linear-gradient(0deg, transparent 0%, transparent 49%, rgba(168, 0, 0, 0.07) 49%, rgba(168, 0, 0, 0.07) 63%, transparent 63%, transparent 100%), linear-gradient(90deg, rgba(0, 0, 0, 0.926), rgba(0, 0, 0, 0.947));
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
    text-align: center;
}

.modal h1 {
    font-size: 3rem;
}

.text__ventana {
    opacity: 0.9;
    font-size: 15px;
}

.img__ventana {
    width: 60%;
    object-fit: cover;
}

/** Media Queries */

@media (max-width: 1366px) {

    /** Buttons */
    /*? Card */
    .card__button {
        font-size: 12px;
        width: 60%;
    }

    /** header */
    .header {
        height: 41vh;
    }

    /** Main */
    /*? Cards */
    .card {
        height: 500px;
    }

    /** ventana emergente */
    .modal {
        height: 600px;
    }

    .img__ventana {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {

    /** Buttons */
    /*? Navbar */
    .btn {
        width: 15rem;
    }

    strong {
        font-size: 15px;
    }

    /*? Ventana */
    .button-ventana {
        top: -10px;
        left: 480px;
    }

    /*? Footer */
    .footer__button {
        width: 40%;
    }

    /** Header */
    .section-header__title {
        font-size: 3rem;
    }

    /** Main */
    .main__title {
        font-size: 2rem;
    }

    /*? Card */
    .card {
        width: 60%;
        height: 450px;
    }

    /** Ventana Emergente */
    .modal {
        width: 80vw;
        height: 80vh;
    }

    .img__ventana {
        width: 80%;
    }
}

@media (max-width: 599px) {

    /** Buttons */
    /*? Navbar */
    .btn {
        width: 10rem;
    }

    /*? Ventana */
    .button-ventana {
        top: 10px;
        left: 280px;
        transform: rotate(35deg);
    }

    /*? Footer */
    .footer__button {
        width: 60%;
    }

    /** Header */
    .section-header__logo {
        width: 200px;
    }

    .section-header__title {
        font-size: 2rem;
    }

    /** Main */
    .main__title {
        font-size: 1.5rem;
    }

    /*? Card */
    .card {
        width: 100%;
    }

    /** Ventana Emergente */
    .modal {
        width: 100vw;
        height: 90vh;
    }

    .img__ventana {
        width: 80%;
    }

    /*? Section Primary */
    .cta{
        font-size: 13px;
    }
}

@media (max-width: 479px) {
    /*! TERMINAAR */
}